<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.mapper.BoardMapper">
	<select id="getList" resultType="org.zerock.domain.BoardVO">
		<![CDATA[
			select * from volkswagen_board where seq > 0 order by seq desc
		]]>
	</select>
	<!-- 게시글 쓰기 -->
	<insert id="insert">
		insert into tbl_board (bno, title, content, writer)
		values (SEQ_BOARD.nextval, #{title}, #{content}, #{writer})
	</insert>
	<!-- MyBatis를 사용하여 PK값 지정 = SelectKey 사용
		SelectKey = 주로 PK값을 미리(BEFORE) SQL을 통해서 처리해 주고 => 특정한 이름으로 결과를 보관하는 방식 
		insert할때 = 미리 처리된 bno값을 가져와서 사용하는 개념-->
	<insert id="insertSelectKey">
		<selectKey keyProperty="bno" order="BEFORE" resultType="Long">
			select seq_board.nextval from dual
		</selectKey>
		insert into tbl_board (bno, title, content, writer)
		values (#{bno}, #{title}, #{content}, #{writer})
	</insert>
	<!-- 게시글 읽기 -->
	<select id="read" resultType="org.zerock.domain.BoardVO">
		select * from volkswagen_member where bno = #{bno}
	</select>
	<!-- 게시글 삭제 -->
	<delete id="delete">
		delete from tbl_board where bno = #{bno}
	</delete>
	<!-- 게시글 수정 -->
	<update id="update">
		update tbl_board 
		set title = #{title}, 
		content = #{content}, 
		writer = #{writer}, 
		updateDate= sysdate 
		where bno = #{bno}
	</update>
	
<!--  
	# 페이징 원리
	 a. 오라클의 rownum을 사용하여 페이징 처리 구현
	 b. 필요한 데이터 범위를 지정하여 특정 페이지에 해당하는 데이터만 반환
	 
	# 쿼리문 결과 해설
	 a. 안쪽쿼리 = 페이지번호 2, 보여줄 글갯수 10개로 가정시 rownum이 1~20까지의 글 추출
	 b. 바깥쪽쿼리 = rownum이 10보다 큰 글 추출 (rownum 11번 ~ 20번)
	
	#오라클 힌트
	 = SQL 쿼리에서 실행 계획을 제어하거나, 특정한 영역에 최적화 방식을 사용하도록 해주는 Oracle의 특수 주석
	 = (사용이유)쿼리 실행 속도를 개선하거나 특정 인덱스를 강제로 사용하도록 지시할수 있음
	 = (형식) /*+...*/ => 힌트구문 오류 발생시 무시하고 일반 쿼리문 실행
	 
-->
<!-- 페이징 처리 -->
	<select id="getListWithPaging" resultType="org.zerock.domain.BoardVO">
		<![CDATA[
	  	select 
	    	bno, title, content, writer, regdate, updatedate
	  	from 
	      (
		      select /*+INDEX_DESC(tbl_board pk_board) */
		        rownum rn, bno, title, content, writer, regdate, updatedate 
		      from 
		        tbl_board
		      where rownum <= #{pageNum} * #{amount}
	      )
	      where rn > (#{pageNum} -1) * #{amount}
	  	]]>
	</select>
	
	<!-- MyBatis 전체 데이터 갯수 처리 -->
	<select id="getTotalCount" resultType="int">
		select count(*) from tbl_board where bno > 0
	</select>
	
	
</mapper>