<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.mapper.ReplyMapper">
	<!-- a. 등록(create) -->
	<insert id="insert">
		INSERT INTO tbl_reply(rno, bno, reply, replyer)
		VALUES (seq_reply.nextval, #{bno}, #{reply}, #{replyer})
	</insert>
	<!-- b. 조회(read) -->
	<select id="read" resultType="org.zerock.domain.ReplyVO">
		select * from tbl_reply where rno = #{rno}
	</select>

	<!-- c. 삭제(delete) -->
	<delete id="delete">
		DELETE FROM tbl_reply WHERE rno = #{rno}
	</delete>

	<!-- d. 수정(update) -->
	<update id="update">
		update tbl_reply set reply = #{reply}, updateDate = sysdate where rno=#{rno}
	</update>

<!-- (추가)댓글의 목록과 페이징 처리 -->
	<select id="getListWithPaging" resultType="org.zerock.domain.ReplyVO">
		select rno, bno, reply, replyer, replyDate, updatedate
		from tbl_reply
		where bno = #{bno}
		order by rno asc
	</select>

</mapper>